@import "tailwindcss";

:root{
    --tarjeta_color: white;
    --colorTitulo: black;
    --colorTexto: #111827;
    --invertir: ;
    --check: #2C2C2C;
    --colorBoton: #2C2C2C;
    --colorBTexto: white;
}

.icono{
    filter: var(--invertir) ;
}

.titulo{
    color: var(--colorTitulo);
}

.boton{
    color: var(--colorBTexto)
}

.boton:hover{
    color: var(--check)
}

.tema-oscuro .boton:hover{
    background-color: black;
    color: var(--colorTitulo);
}

.tema-oscuro .olvidar:hover{
    color: white;
}


.tema-oscuro{
    --tarjeta_color: #242424;
    --colorTitulo: white;
    --invertir: invert(1);
    --check: white;
    --colorBoton:white;
    --colorBTexto:#2C2C2C;
}

/* A esta elemento, le cambiamos esto dentro del toast*/
.toastErrorLogin .p-toast-summary, .toastErrorLogin .p-toast-detail{
    color: black;
    
}

.toastExitosoLogin .p-toast-summary, .toastExitosoLogin .p-toast-detail{
    color: black;
}

.toastErrorServidor .p-toast-summary, .toastErrorServidor .p-toast-detail{
    color: black;
}

