@import "tailwindcss";

body{
    background-color: var(--bgb);
}

#boton-tema{
    margin-left: 0.5rem;
}

:root{
    --bg: #FEBC2F;
    --bgb: white;
    --colorText: #181818;
    
}

.tema-oscuro{
    --bg: #C99A1C;
    --bgb: #181818;
    --colorText: white;
}

.mensajeCerrarSesionAdmin .p-toast-summary, .mensajeCerrarSesionAdmin .p-toast-detail{
    color: black;
}

.toastMensajeCancelar .p-toast-summary, .toastMensajeCancelar .p-toast-detail{
    color: black;
}

.toastMensajeErrorServidor .p-toast-summary, .toastMensajeErrorServidor .p-toast-detail{
    color: black;
}

.toastMensajeEliminacion .p-toast-summary, .toastMensajeEliminacion .p-toast-detail{
    color: black;
}

.toastMensajeCreacion .p-toast-summary, .toastMensajeCreacion .p-toast-detail{
    color: black;
}

.toastMensajeInformativo .p-toast-summary, .toastMensajeInformativo .p-toast-detail{
    color: black;
}

.iconoEliminar {
  color: red !important;
  font-size: 2rem !important;
}
